<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79544289459-6ecvc0gm8b8o2vd97sk6qq9d73mrbtuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79544289459-6ecvc0gm8b8o2vd97sk6qq9d73mrbtuv</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Y831ET5DXCVqv38tE5xz2cEyM_PE-mA</string>
	<key>GCM_SENDER_ID</key>
	<string>79544289459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thalissonrosa.Timeline</string>
	<key>PROJECT_ID</key>
	<string>timeline-443fe</string>
	<key>STORAGE_BUCKET</key>
	<string>timeline-443fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79544289459:ios:50ccaf1add049dfdc988c6</string>
	<key>DATABASE_URL</key>
	<string>https://timeline-443fe.firebaseio.com</string>
</dict>
</plist>